{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>softwiz~home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<style>
h2{
    font-family: 'PT Serif', serif;
    font-size: 25px;
}
</style>
<body>
    <!--Carousel Wrapper-->
    <div id="softwiz-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#softwiz-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#softwiz-carousel" data-slide-to="1"></li>
            <li data-target="#softwiz-carousel" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/1260841/pexels-photo-1260841.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=700" style="height:566px;"
                        alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h2 class="h2-responsive" style="margin-bottom:220px; font-size: 50px; font-weight: 700;">Welcome to Softwiz Kenya.</h2>

                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/669619/pexels-photo-669619.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=800" style="height:566px;"
                        alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h2 class="h2-responsive" style="margin-bottom:220px;"> A cutting edge global technology Services Company delivering a broad
                        range of IT solutions.</h2>

                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/1449081/pexels-photo-1449081.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=700" style="height:566px;"
                        alt="Third slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h2 class="h2-responsive" style="margin-bottom:220px;">We Provide Financial Technology Services and Solutions, End to End
                        Digitization of Trading and
                        Business Processes Solutions.</h2>

                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#softwiz-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#softwiz-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

    <!-- innovation insight integrity -->
    <div class="container" style="padding-top:100px;">
        <div class="row" style="padding-bottom:100px;">
            <div class="col-md-4">
                <!-- innovation Card -->
                <div class="card card-image"
                    style="background-image: url(https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-lightbulb"></i></h5>
                            <h3 class="card-title pt-2"><strong>INNOVATION</strong></h3>
                            <p>Flexibility is the key to our offerings, and intrinsic to this flexibility, is the spirit of Innovation that we bring to our products and services from the very stage of design to implementation and customer support.</p>
                        </div>
                    </div>

                </div>
                <!-- end of innovatio Card -->
            </div>

            <div class="col-md-4">
                <!-- Insight Card -->
                <div class="card card-image"
                    style="background-image: url(https://images.pexels.com/photos/2114771/pexels-photo-2114771.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-brain"></i></h5>
                            <h3 class="card-title pt-2"><strong>INSIGHT</strong></h3>
                            <p>We take pride in the vision, skills, expertise and professionalism of our team. Our team members make use of their keen Insight to foresee industry trends and meet demanding customer needs.</p>
                        </div>
                    </div>

                </div>
                <!-- End of Insight Card -->
            </div>
            <div class="col-md-4">
                <!--Integrity Card -->
                <div class="card card-image"
                    style="background-image: url(https://images.pexels.com/photos/1437866/pexels-photo-1437866.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-balance-scale"></i></h5>
                            <h3 class="card-title pt-2"><strong>INTEGRITY</strong></h3>
                            <p>Integrity is the very soul of our company. This is reflected in our finances, the trusted relationship that we share with our customers and business partners, and the faith reposed in us by our stakeholders.</p>
                        </div>
                    </div>

                </div>
                <!--End of Integrity Card -->
            </div>
        </div>
        <!-- end of insight integrity innovation -->

        <h1 style="text-align:center; font-weight:700;">Our Partners</h1></br></br>
        <div class="row">
            <div class="col-md-3">
                <a href="http://www.kenic.or.ke/index.php/en/"><img
                        src="http://theinternet.co.zw/wp-content/uploads/2015/06/140402-KENIC-logo-cleaned-1.png"
                        style="height:130px; width:200px;" alt="Kenic .ke for every domain name in Kenya"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.colvir.com/"><img
                        src="http://www.fintexafrica.com/wp-content/uploads/2019/04/Colvir.jpg"
                        alt="Colvir Software Solutions" style="margin-left:-50px;"></a>
            </div>
            <div class="col-md-3">
                <a href="https://dynamics.microsoft.com/en-us/"><img
                        src="https://www.alphakor.com/wp-content/uploads/2016/01/microsoft-certified.gif"
                        alt="Microsoft cerified business solutions partner"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.yesakor.com/"><img src="https://www.hasoftkenya.com/images/yesakor.png"
                        alt="Yesakor Technologies"></a>
            </div>
        </div>
    </div>
    <div style="padding-top:70px; background-color:#37474f;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'home' %}">
                        <h4 style="color:white;"> softwiz Kenya</h4>
                    </a>
                    <p style="color:white;">&copy;2019, softwiz Kenya.</p>
                    <div style="margin-top:-10px;">
                        <a href="https://www.linkedin.com/company/softwiz-kenya/about/" target="_blank"
                            style="color:white;"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.facebook.com/softwizKE/" target="_blank" style="color:white;"><i
                                class="fab fa-facebook-square"></i></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <ul style="list-style-type: none;">
                        <li><a style="color: white; float:right;" href="{% url 'aboutus' %}">About Us</a></li></br>
                        <li><a style="color: white; float:right;" href="{% url 'products' %}">Products</a></li></br>
                        <li><a style="color: white; float:right;" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}