{% extends 'base.html' %}
{% block content %}

<h1 style="text-align:center;">What can we do for you?</h1>
<h2 style="text-align:center; padding: 30px; text-decoration: underline;">Products</h2>
<div class="container">
    <div class="row">
        <!-- crm -->
        <div class="col-md-3">
            <div class="card card-image"
                style="background-image: url(https://images.pexels.com/photos/6231/marketing-color-colors-wheel.jpg?auto=compress&cs=tinysrgb&dpr=1&w=800);"
                data-toggle="modal" data-target="#customerModal">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>CUSTOMER RELATIONSHIP MANAGEMENT</strong></h3>
                        <p style="cursor:pointer;">Read More >> </p>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="customerModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Customer Relationship Management</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Our Customer Relationship Management is an enterprise quality set of tools designed to help you run your continuity or
                                direct marketing business. Whether your company is a start-up or you manage millions of
                                customer records We can seamlessly integrate into your business process. Our CRM is
                                customer
                                centered business management and intelligence.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- crm -->
        <!-- financial management -->
        <div class="col-md-3">
            <div class="card card-image"
                style="background-image: url(https://images.pexels.com/photos/6231/marketing-color-colors-wheel.jpg?auto=compress&cs=tinysrgb&dpr=1&w=800);"
                data-toggle="modal" data-target="#financialModal">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        
                        <h3 class="card-title pt-2"><strong>FINANCIAL MANAGEMENT</strong></h3>
                        <p style="cursor:pointer; margin-top:45px;">Read More >></p>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="financialModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Financial Management </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Reports about the challenges and risks finance managers face today aren't news to you—you live them every day. You need financial management solutions that reduce costs; shorten process cycle times; deliver timely, actionable financial information; enforce global financial standards and controls; and improve business transparency.

                                    More than 200 customers have reached their financial goals with the help of softwiz Kenya Financial Management solutions, and so can you.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- financial management -->
        <!-- Enterprise resource planning -->
        <div class="col-md-3">
            <div class="card card-image"
                style="background-image: url(https://images.pexels.com/photos/6231/marketing-color-colors-wheel.jpg?auto=compress&cs=tinysrgb&dpr=1&w=800);"
                data-toggle="modal" data-target="#enterpriseModal">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2"><strong>ENTERPRISE RESOURCE PLANNING </strong></h3>
                        <p style="cursor:pointer;">Read More >> </p>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="enterpriseModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Enterprise Resource Planning</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Equip yourself with the tools you need to cut costs, improve operational efficiency, and make smarter decisions—faster. That's what you get from Our ERP software solutions. Ready to go, without expensive customizations or long, drawn-out implementations. And with flexibility, so you can add functionality as your business grows.

                                    Microsoft Dynamics NAV is most powerful and comprehensive system available for managing the demands of complex manufacturing, distribution, and service industries, giving you unparalleled control over your global operations. The latest release introduces new technologies that transform your user experience for greater productivity and connectivity.
                                    
                                    Explore the ERP system that's right for your business.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ERP -->
        <!-- Business solutions -->
        <div class="col-md-3">
            <div class="card card-image"
                style="background-image: url(https://images.pexels.com/photos/6231/marketing-color-colors-wheel.jpg?auto=compress&cs=tinysrgb&dpr=1&w=800);"
                data-toggle="modal" data-target="#basicExampleModal">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2"><strong>BUSINESS SOLUTIONS</strong></h3>
                        <p style="cursor:pointer; margin-top: 45px;">Read More >> </p>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Business Solutions</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>We offers a unique range of business solutions tailored to the particular needs of your industry, whether your business is construction, emergency services, manufacturing and distribution, libraries and information centers, restaurants, or any type of small- to medium-sized enterprise (SME).
                                </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- business solutions -->
    </div>
</div>
<h2 style="text-align:center;padding:30px; text-decoration: underline;">Services</h2>
<div class="container">
    <div class="card">
        <div class="card-header">
            SMART BUSINESS CONSULTING
        </div>
        <div class="card-body">
            <h6 class="card-title">Long-term business success begins with a foundation of rich and robust enterprise business solutions. It lasts if you build on that foundation to rise to new challenges and meet new opportunities.</h6>

        </div>
    </div></br>
    <div class="card">
        <div class="card-header">
            STRATEGIC CONSULTING
        </div>
        <div class="card-body">
            <h6 class="card-title">Business software must serve your business goals. You get maximum value when you implement business applications with your business goals in mind.</h6>

        </div>
    </div></br>
    <div class="card">
        <div class="card-header">
            MANAGED SERVICES
        </div>
        <div class="card-body">
            <h6 class="card-title">Today's challenging business environment puts all organizations under pressure to do more with less. But you can't cut back too far—you need to stay competitive enough to build for the future.</h6>

        </div>
    </div></br>
    <div class="card">
        <div class="card-header">
            WEBSITE DESIGN
        </div>
        <div class="card-body">
            <h6 class="card-title">A web presence is almost compulsory for a modern organisation to project the right image. We can provide your company with a modern, fresh website from which to market yourself at very reasonable cost.</h6>

        </div>
    </div></br>
    <div class="card">
        <div class="card-header">
            SOLUTIONS DEVELOPMENT
        </div>
        <div class="card-body">
            <h6 class="card-title">softwiz Kenya solutions drive productivity to new heights while driving down operational and ownership costs in nearly every situation.</h6>

        </div>
    </div></br>
    <div class="card">
        <div class="card-header">
            SUPPORT
        </div>
        <div class="card-body">
            <h6 class="card-title">softwiz Kenya helps the client understand the system and ready to assist immediately if any problem arises. Also, we offer various IT support services.</h6>

        </div>
    </div>
</div></br></br></br></br>
<!-- summary section -->
<div style="padding-top:70px; background-color:#37474f;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'home' %}">
                    <h4 style="color:white;"> softwiz Kenya</h4>
                </a>
                <p style="color:white;">&copy;2019, softwiz Kenya.</p>
                <div style="margin-top:-10px;">
                    <a href="https://www.linkedin.com/company/softwiz-kenya/about/" target="_blank"
                        style="color:white;"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.facebook.com/softwizKE/" target="_blank" style="color:white;"><i
                            class="fab fa-facebook-square"></i></a>
                </div>
            </div>

            <div class="col-md-6">
                <ul style="list-style-type: none;">
                    <li><a style="color: white; float:right;" href="{% url 'aboutus' %}">About Us</a></li></br>
                    <li><a style="color: white; float:right;" href="{% url 'products' %}">Products</a></li></br>
                    <li><a style="color: white; float:right;" href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}